.suggestion_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  height: 15%;
}

.suggestion_image_content {
  background-color: rgb(243, 239, 239);
  padding: 5px;
}

.suggestion_image {
  max-width: 270px;
}

.suggestion_image:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.suggestion_name,
.suggestion_price {
  font-family: SoleilLight;
  margin-top: 10px;
}

.suggestion_price {
  font-weight: bold;
}

.appear {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.disappear {
  transform: translateY(30px);
  transition: none;
}
