.navbar_list {
  list-style: none;
  color: inherit;
}

.navbar_list_items {
  color: inherit;
  padding: 1rem;
  margin: 0 1rem;
  display: inline;
  font-size: 0.9rem;
  font-family: "SoleilBold";
  text-transform: uppercase;
}

.navbar_list_items:hover {
  cursor: pointer;
}
