.navbar_icon_container {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.navbar_cart_icon {
  margin-left: 20px;
}

.navbar_cart_icon:hover,
.navbar_login_icon:hover {
  cursor: pointer;
}

.navbar_signin {
  color: inherit;
  font-size: 0.9rem;
  font-family: "SoleilBold";
  text-transform: uppercase;
}
