/* .featured_content {
  margin-top: 2rem;
}

.featured_titles {
  display: flex;
  justify-content: center;
}

.featured_title {
  font-family: SoleilRegular;
  text-transform: uppercase;
  margin-left: 30px;
  cursor: pointer;
} */

.featured_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.featured_container {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.featured_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured_item {
  border: 1px solid grey;
  /* width: 20%; */
  /* padding: 6rem; */
}

.featured_image {
  width: auto;
  /* max-width: 310px; */
}
