.app_title_container {
  color: inherit;
  display: flex;
  margin-bottom: 15px;
}

.app_image {
  width: 100px;
}

.app_logo,
.app_title {
  margin: 0 auto;
}

.app_title {
  margin-left: 10px;
  margin-top: 11%;
  display: inline;
}

.app_title_text {
  text-transform: uppercase;
  font-family: SoleilBold;
  font-size: 18px;
  font-weight: bold;
}
