.sort_selection_box {
  /* border: 1px solid red; */
  display: flex;
}

.sort_selection_result {
  align-content: center;
  font-family: "SoleilLight";
  margin: 0 20px 0 0;
}

.sort_result_title {
  font-size: 1rem;
  margin-top: 10px;
}
