.curated_content_item {
  margin-top: 30px;
  justify-items: center;
}

.curated_title {
  align-content: center;
  justify-content: center;
  font-family: SoleilBold;
  font-weight: lighter;
  text-transform: uppercase;
}

.curated_details {
  font-family: SoleilLight;
  padding-top: 20px;
}
