.dropdown_container {
  border-radius: 8px;
  padding: 0;
  margin: 0;
  background-color: none;
  border: none;
}

.dropdown_toggle {
  background-color: transparent;
  border: none;
}

.dropdown_toggle::after {
  background-color: transparent;
  content: none;
}

.dropdown_menu {
  border: 1px solid grey;
}

.dropdown_menu_item {
  padding: 0.5rem 1rem;
  color: black;
  display: block;
  font-family: "SoleilBold";
  font-size: 0.9rem;
}

.dropdown_menu_item:hover {
}
