.product_gallery {
  display: flex;
  border: 1px solid red;
}

.product_thumbnail {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

.product_thumbnail_focused {
  border: 2px solid lightseagreen;
}

.product_thumbnail_container {
  display: flex;
  flex-direction: column;
}
