.navbar_subcategory_list {
  padding-right: 100px;
  border-right: 1px solid grey;
}

.navbar_subcategory_list:last-child {
  border-right: none;
}

.navbar_subcategory_header,
.navbar_subcategory_items {
  font-size: 0.9rem;
  font-weight: 100;
  font-family: "SoleilRegular";
}

.navbar_subcategory_items:hover {
  background-color: inherit !important;
}

.navbar_subcategory_header {
  font-family: "SoleilBold";
  text-transform: uppercase;
}

.navbar_subcategory_link {
  text-decoration: none;
  color: black;
}
