.navbar_popper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center !important;
  box-shadow: none !important;
}

.navbar_paper {
  margin-top: 0.5rem;
  justify-items: center !important;
  padding: 50px;
  width: 100%;
  box-shadow: none !important;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.navbar_subcategory_list {
  padding-right: 7px;
  border-right: 1px solid grey;
}

.navbar_subcategory_header,
.navbar_subcategory_items {
  font-size: 0.9rem;
  font-weight: 100;
  font-family: "SoleilRegular";
}

.navbar_subcategory_items:hover {
  background-color: inherit !important;
}

.navbar_subcategory_header {
  font-family: "SoleilBold";
  text-transform: uppercase;
}
