.navbar_main_container {
  display: flex;
  padding: 2rem 2rem;
  align-items: center;
  /* border: 1px solid red; */
}

.navbar_main_container:hover,
.navbar_main_container:focus {
  background-color: white;
}

.title_container {
  display: flex;
  justify-content: flex-start;
  width: 10%;
}

.elements_container {
  width: 80%;
  justify-items: center;
  font-family: SoleilBold;
}

.icons_container {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
